.personaldetails{
    display: flex;
    align-items:stretch;
    gap: 5%;
    margin-bottom: 3rem;
}

.doctordetails{
    display: flex;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.divider{
    border: 1px solid lightgrey;
}

.generaldetails{
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    grid-gap: 20%;
    display: flex;
    align-items: center;
}

.detailsleft, .detailsright{
    display: flex;
    flex-direction: column;
}
.label{
    color: grey;
}
.info{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
}
.infoleft{
    display: flex;
    gap: 10px;
    height: 70%;
}

.patients, .pendingappointments, .finishedpatients{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 10px;
}
.digit{
    font-size: 30px;
}

.addprofileicon{
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    height: 150px;
    width: 150px;

}
.clearbtn{
    width: 5.8rem;
}

input[type='file'] {
    color: transparent;
}

.main{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.displayImage{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 15px;
}
.displayImage:hover{
    cursor: pointer;
}