.upcomingmain{
    margin-left: 1.5rem;
}

.todaytab, .weektab, .monthtab{
    margin-bottom: 1rem;
    margin-right: 5px;
}
.todaytab{
    gap: 2rem;
    display: flex;
    width: 99%;
    overflow-x: auto;
}
.todaytab::-webkit-scrollbar-thumb {
    background-color: rgb(74, 74, 77);    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
}

.todaytab::-webkit-scrollbar-track {
    background: lightgrey;        /* color of the tracking area */
}

.todaytab::-webkit-scrollbar{
    height: 5px;
}             

.noactivity{
    color: lightgrey;
    text-align: center;
}

.timeheading{
    color: #0c008a;
}