.active{
    border-bottom: 5px solid hsl(223, 100%, 43%);
}
.inactive{
    color: lightgrey;
}
.appmain{
    display: flex;
    flex-direction: column;
    height: 98vh;
    overflow-y: scroll;
}

.appmain::-webkit-scrollbar-thumb {
    background-color: rgb(74, 74, 77);    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
}

.appmain::-webkit-scrollbar-track {
    background: lightgrey;        /* color of the tracking area */
}

.appmain::-webkit-scrollbar {
    width: 5px;
}

.appointmentsmain{
    margin: 1.5rem;
    display: flex;
    gap: 2.5rem;
}
