.main{
    margin: 1.5rem;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 90%;
    font-size: 16px;
    margin-bottom: 20px;
}

.searchdiv{
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 80%;
}

.search{
    height: 2rem;
    border: none;
    width: 90%;
    font-family: "Poppins", sans-serif;
}
.search:focus, .search:hover{
    outline: none;
}
.bi-search{
    margin-left: 5px;
}

.resultsbar{
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 3fr 3fr;
}