.dropdown-button {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 2rem;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

