a{
    color: #000;
}
.sidebarlink{
    margin-bottom: 20px;
}
.SideBar{
    border-right: 1px solid lightgray;
    height: 100vh;
}
.text-active{
    color: #0c008a;
    font-weight: 700;
}

.SideBar ul{
    list-style: none;
}
.btn, .dropdown-menu{
    margin: 0;
    padding: 0;
}
#dropdownMenuButton:focus{
    border: none;
}
.dropdown-menu ul{
    padding: 5px;
}

.logoutbtn{
    width: 65%;
}