/* body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

/* Mobile */
/* @media screen and (max-width: 767px) { 
    .SideBar{
        display: none;
    }
}  */
