.transaction{
    display:grid;
    grid-template-columns: 5fr 3fr 3fr 3fr;
    margin-bottom: 10px;
    height: 2.5rem;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    align-items: center;
}