.createdappointment {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
}
.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.actionbtn {
  color: lightgrey;
  height: 2rem;
}
.delete {
  color: crimson;
}
.availablestatus {
  background-color: green;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  width: 40%;
}
